In [2]:
a="Hello World"
print(type(a))
print(a)

<class 'str'>
Hello World

In [8]:
print(a[8])

r

In [5]:
print(a[0:5])

Hello

In [6]:
print(a[5:])

 World

In [9]:
a="Hello World"
a[0::2]

'HloWrd'

In [10]:
a="Hello World"
b=len(a)
a[b::-1]

'dlroW olleH'

In [12]:
a="hello"
b="world"
print(a+b)

helloworld

In [13]:
#search
#string formatting
#split
#replace

In [19]:
#search
a="Ram Shyam Hari Ram Neha"
search=input("Enter the value for search=")
if search in a:
    print("yes")
    print(a.count(search))
else:
    print("no")

Enter the value for search=Ram
yes
2

In [18]:
#search with count
a="Ram Shyam Hari Ram Neha"
a.count("Ram")

2

In [20]:
#string with replace
a="Ram Shyam Hari Ram Neha"
b=a.replace("Ram","ram")
print(b)

ram Shyam Hari ram Neha

In [21]:
#Delete in string
a="Ram Shyam Hari Ram Neha"
b=a.replace("Ram","")
print(b)

 Shyam Hari  Neha

In [2]:
a="Ram Shyam Hari Ram Neha".lower()
search=input("Enter the value for search=").lower()
if search in a:
    print("yes")
    print(a.count(search))
else:
    print("no")

Enter the value for search=ram
yes
2

In [2]:
a= "Ram"
a.upper()

'RAM'

In [5]:
a= "Ram"
a.lower()

'ram'

In [8]:
#string formatting
name="Ram"
phone=9835427589
info= name+str(phone)
print(info)

Ram9835427589

In [10]:
name=input("Enter name=")
phone=int(input("Enter phone="))
data=f"{name} {phone}"
print(data)

Enter name=Ram
Enter phone=9834526789
Ram 9834526789

In [12]:
name=input("Enter name=")
phone=int(input("Enter phone="))
data=f"Hello I am {name}. My phone number is {phone}"
print(data)

Enter name=Ram
Enter phone=9821445781
Hello I am Ram. My phone number is 9821445781

In [15]:
info=str()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    phone=int(input("Enter phone="))
    data= f"{name} {phone}\n"
    info=info+data
print(info)

Enter n=2
Enter name=Ram
Enter phone=9823416789
Enter name=Shyam
Enter phone=9871552134
Ram 9823416789
Shyam 9871552134

In [16]:
info=str()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    price=int(input("Enter price="))
    quantity=int(input("Enter quantity="))
    total= price*quantity
    data= f"{name} {price} {quantity} {total}\n"
    info=info+data
print(info)

Enter n=4
Enter name=Biscuit
Enter price=50
Enter quantity=3
Enter name=Basmati Rice
Enter price=1850
Enter quantity=2
Enter name=Shampoo
Enter price=785
Enter quantity=1
Enter name=Dairy Milk
Enter price=40
Enter quantity=4
Biscuit 50 3 150
Basmati Rice 1850 2 3700
Shampoo 785 1 785
Dairy Milk 40 4 160

In [1]:
info=str()
grand_total=0
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    price=int(input("Enter price="))
    quantity=int(input("Enter quantity="))
    total= price*quantity
    data= f"{name} {price} {quantity} {total}\n"
    grand_total= grand_total+ total
    info=info+data
print(info)
print(grand_total)

Enter n=3
Enter name=Biscuit
Enter price=40
Enter quantity=5
Enter name=Basmati Rice
Enter price=2700
Enter quantity=2
Enter name=Drink
Enter price=25
Enter quantity=10
Biscuit 40 5 200
Basmati Rice 2700 2 5400
Drink 25 10 250

5850

In [2]:
#split
a="Apple Ball Wai-Wai"
b= a.split()
b[2]

'Wai-Wai'