In [1]:
#tuple
#-indesing
#-ordered
#-duplicate members
#-imutable

In [2]:
a=(1,2,3)
b=tuple()
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [4]:
a=(1,)
type(a)

tuple

In [6]:
a=("Apple","Ball","Cat","Dog")
a[0]

'Apple'

In [7]:
a[0:4]

('Apple', 'Ball', 'Cat', 'Dog')

In [8]:
a=("Apple","Ball","Cat","Dog")
b=("Dog","Frog")
print(b+a)

('Dog', 'Frog', 'Apple', 'Ball', 'Cat', 'Dog')

In [9]:
b=("Dog","Frog")
b*2

('Dog', 'Frog', 'Dog', 'Frog')

In [11]:
a=()
b=("Apple",)
a+b

('Apple',)

In [14]:
y=tuple()
n=int(input("Enter n="))
for i in range(n):
    x=input("Enter name=")
    y=y+(x,)
print(y)

Enter n=2
Enter name=RAm
Enter name=Shyam
('RAm', 'Shyam')

In [17]:
y=tuple()
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter name="))
    y=y+(x,)
print("tuple =",y)
print("max value=",max(y))
print("min value=",min(y))
print("sum value=",sum(y))

Enter n=5
Enter name=31
Enter name=23
Enter name=74
Enter name=92
Enter name=13
tuple = (31, 23, 74, 92, 13)
max value= 92
min value= 13
sum value= 233

In [18]:
a=(31, 23, 74, 92, 13)
sorted(a)

[13, 23, 31, 74, 92]

In [19]:
a=(31, 23, 74, 92, 13)
b=a[0:2]
c=a[3:]
print(b+c)

(31, 23, 92, 13)

In [22]:
a=(31, 23, 74, 92, 13)
b=list(a)
del b[2]
tuple(b)

(31, 23, 92, 13)

In [23]:
#multidimension tuple
a=((1,2,3),(4,5,6),(7,8,9)) #tuple inside tuple
b=[(1,2,3),(4,5,6),(7,8,9)] #tuple inside list
c=([1,2,3],[4,5,6],[7,8,9]) #list inside tuple

In [25]:
a=((1,2,3),(4,5,6),(7,8,9))
t=tuple()
n=int(input("Enter the value of n="))
for i in range(n):
    x=int(input("Enter the value of x="))
    y=int(input("Enter the value of y="))
    z=int(input("Enter the value of z="))
    t=t+((x,y,z),)
print(t)

Enter the value of n=3
Enter the value of x=1
Enter the value of y=2
Enter the value of z=3
Enter the value of x=4
Enter the value of y=5
Enter the value of z=6
Enter the value of x=7
Enter the value of y=8
Enter the value of z=9
((1, 2, 3), (4, 5, 6), (7, 8, 9))

###

In [30]:
a=((1,2,3),(4,5,6),(7,8,9))
b=list(a)
b.append((10,11,12))
print(b)

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [40]:
b=[]
a=((1,2,3),(4,5,6),(7,8,9))
for i in a:
    b.append(list(i))
print(b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
b=()
a=[[1, 2, 3],[4, 5, 6],[7, 8, 9]]
for i in a:
    b=b+(tuple(i),)
print(b)

((1, 2, 3), (4, 5, 6), (7, 8, 9))