In [4]:
#append()
a=[]
a.append("Apple")
a.append("Ball")
a.append(2)
a.append(10.5)
print(a)

['Apple', 'Ball', 2, 10.5]

In [5]:
l=[]
n=int(input("Enter the valueof n="))
for i in range(n):
    x=int(input("Enter the value of x="))
    l.append(x)
print("The list =",l)
print("The sum =",sum(l))
print("The max value=",max(l))
print("The min value=",min(l))

Enter the valueof n=5
Enter the value of x=321
Enter the value of x=54
Enter the value of x=89
Enter the value of x=67
Enter the value of x=87
The list = [321, 54, 89, 67, 87]
The sum = 618
The max value= 321
The min value= 54

In [7]:
a=[321,43,54,432,56]
a.insert(2,"Apple")
print(a)

[321, 43, 54, 432, 'Apple', 56]

In [8]:
a=[321,43,54,432,56]
a.insert(-1,"Apple")
print(a)

[321, 43, 54, 432, 'Apple', 56]

In [9]:
#del
#remove()
#pop()
#clear()

In [14]:
a=[321,456,54,32,"apple",23]
i=a.index("apple")
print(i)
del a[i]
print(a)

4
[321, 456, 54, 32, 23]

In [16]:
a=[321,456,54,32,"apple",23]
a.remove("apple")
print(a)

[321, 456, 54, 32, 23]

In [19]:
a=[321,456,54,32,"apple",23]
a.pop(4)
print(a)

[321, 456, 54, 32, 23]

In [22]:
a=["Apple","Ball","Apple","Cat","Apple"]
n=a.count(a)
for i in a:
    a.remove("Apple")
    
print(a)

['Ball', 'Cat']

In [23]:
a=["Apple","Ball","Apple","Cat","Apple"]
n=a.count("Apple")
for i in range(n):
    a.remove("Apple")
print(a)

['Ball', 'Cat']

In [30]:
b=[]
a=["Apple","Ball","Apple","Cat","Apple"]
for i in a:
    if i=="Apple":
        continue
    b.append(i)
print(b)

['Ball', 'Cat']

In [34]:
b=[]
a=["Apple","Ball","Apple","Cat","Apple"]
n=len(a)
for i in range(n):
    if a[i]=="Apple":
        continue
    b.append(i)
print(b)

[1, 3]

In [35]:
#list inside list
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]
type(a)

list

In [36]:
a[0]

[1, 2, 3]

In [37]:
a[0][0]

1

In [40]:
data=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    age=input("Enter age=")
    address=input("Enter address=")
    info=[name,age,address]
    data.append(info)
print(data)

Enter n=2
Enter name=Ram
Enter age=18
Enter address=Koteshwor
Enter name=Shyam
Enter age=21
Enter address=Bhaktapur
[['Ram', '18', 'Koteshwor'], ['Shyam', '21', 'Bhaktapur']]

In [41]:
data=[]
n=int(input("Enter n="))
for i in range(1,n+1):
    name=input("Enter name=")
    age=input("Enter age=")
    address=input("Enter address=")
    info=[i,name,age,address]
    data.append(info)
print(data)

Enter n=2
Enter name=Ram
Enter age=18
Enter address=Koteshwor
Enter name=Shyam
Enter age=21
Enter address=Bhaktapur
[[1, 'Ram', '18', 'Koteshwor'], [2, 'Shyam', '21', 'Bhaktapur']]

In [42]:
sn=int(input("Enter sn="))
data[sn-1]

Enter sn=1

[1, 'Ram', '18', 'Koteshwor']

In [44]:
a=[1,2,3,4,5,6,7]
del a[0]
print(a)

[2, 3, 4, 5, 6, 7]

In [45]:
a=[1,2,3,4,5,6,7]
a.clear()
print(a)

[]

In [46]:
a=[1,2,3,4,5,6,7]
del a[:]
print(a)

[]