In [1]:
#dict
#-indexed
#-ordered
#-duplicate members
#-mutable

In [2]:
a={}
type(a)

dict

In [12]:
#a={<key>:<value>,<key>:<value>}
dict_a={"a":"apple","b":"ball"}
dict_b={1:"Apple",2:"Ball"}
print(dict_a)
print(dict_a["a"])
print(dict_b)
print(dict_b[1])

{'a': 'apple', 'b': 'ball'}
apple
{1: 'Apple', 2: 'Ball'}
Apple

In [10]:
dict_a={"a":"apple","b":"ball","A":"apple"}
dict_a

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [17]:
a={}
a[1]="Apple"
a

{1: 'Apple'}

In [18]:
a={1:"Apple"}
a[1]="Ant"
a

{1: 'Ant'}

In [21]:
a={}
a["Ram"]=9823415768
a["Shyam"]=9841326798
a["Hari"]=9862345134
print(a)

{'Ram': 9823415768, 'Shyam': 9841326798, 'Hari': 9862345134}

In [25]:
d={}
n=int(input("Enter thevalue of n="))
for i in range(n):
    name=input("Enter name=")
    phone=input("Enter phone=")
    d[name]=phone
print(d)

Enter thevalue of n=2
Enter name=Ram
Enter phone=9821346732
Enter name=Shyam
Enter phone=9876541326
{'Ram': '9821346732', 'Shyam': '9876541326'}

In [28]:
for i in d.items():
    print(i)

('Ram', '9821346732')
('Shyam', '9876541326')

In [29]:
z=[]
for i in d.items():
   z.append(i)
print(z)

[('Ram', '9821346732'), ('Shyam', '9876541326')]

In [34]:
z=[('Ram', '9821346732'), ('Shyam', '9876541326')]
d={}
for i in z:
    key=i[0]
    value=i[1]
    d[key]=value
    
print(d)

{'Ram': '9821346732', 'Shyam': '9876541326'}

In [35]:
d={"a":"apple"}
d

{'a': 'apple'}

In [37]:
d={("a","A"):"apple"}
d

{('a', 'A'): 'apple'}

In [39]:
#list inside dictionary
d={"Ram":[9841326753,9823476531],"Shyam":[9849632497,9818534721]}
print(d)
print(d["Ram"])

{'Ram': [9841326753, 9823476531], 'Shyam': [9849632497, 9818534721]}
[9841326753, 9823476531]

In [41]:
name=input("Enter name=")
phone=int(input("Enter 0 for ntc 1for ncell"))
print(d[name][phone])

Enter name=Shyam
Enter 0 for ntc 1for ncell1
9818534721

In [42]:
d["Ram"][0]=9852348172
d

{'Ram': [9852348172, 9823476531], 'Shyam': [9849632497, 9818534721]}

In [43]:
del d["Ram"][0]
d

{'Ram': [9823476531], 'Shyam': [9849632497, 9818534721]}

In [44]:
d["Ram"].insert(0,9841326871)
print(d)

{'Ram': [9841326871, 9823476531], 'Shyam': [9849632497, 9818534721]}

In [45]:
d={'Ram': [9852348172, 9823476531], 'Shyam': [9849632497, 9818534721]}
d["Ram"].insert(0,9841326871)
print(d)

{'Ram': [9841326871, 9852348172, 9823476531], 'Shyam': [9849632497, 9818534721]}

In [53]:
#search
#del
search=input("Enter the value of search=")
for i in d.items():
        print([i][0])

Enter the value of search=Ram
('Ram', [9841326871, 9852348172, 9823476531])
('Shyam', [9849632497, 9818534721])