In [1]:
a=set()
print(a)
type(a)

set()

set

In [3]:
a={1,2,3}
type(a)

set

In [5]:
a={}
type(a)

dict

In [6]:
#Set
#-Mutable
#-unordered
#-not indexing
#-no duplicate memebers

In [8]:
a={"Apple","Ball","Cat","1zebra",2,1,20.5}
print(a)
a

{1, 2, 'Cat', 'Ball', 'Apple', 20.5, '1zebra'}

{1, '1zebra', 2, 20.5, 'Apple', 'Ball', 'Cat'}

In [9]:
a={1,1,2,2,3,3,4,4,5,5}
print(a)

{1, 2, 3, 4, 5}

In [10]:
a=[1,1,2,2,3,3,4,4]
b=set(a)
a=list(b)
print(a)

[1, 2, 3, 4]

In [11]:
a=set()
a.add(1)
a.add(2)
a.add(3)
print(a)

{1, 2, 3}

In [12]:
a=set("Apple")
print(a)

{'A', 'l', 'p', 'e'}

In [13]:
a=set("Python")
b=list("Python")
c=tuple("Python")
print(a)
print(b)
print(c)

{'y', 'h', 'o', 'n', 't', 'P'}
['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')

In [15]:
a=set()
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter x="))
    a.add(x)
print(a)

Enter n=3
Enter x=23
Enter x=41
Enter x=11
{41, 11, 23}

In [16]:
a={1,2,3}
b={4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [19]:
a={(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}

In [21]:
a=set()
a.add((1,2,3),)
print(a)

{(1, 2, 3)}

In [24]:
a={1,2,3}
a.remove(1)
print(a)

{2, 3}

In [23]:
a={1,2,3}
a.replace(1,11)

AttributeError: 'set' object has no attribute 'replace'

In [26]:
a={"Ram","Shyam","Hari","Gita"}
b={"Sita","Gita","Shyam","Hari"}

In [27]:
a.intersection(b)

{'Gita', 'Hari', 'Shyam'}

In [28]:
a.union(b)

{'Gita', 'Hari', 'Ram', 'Shyam', 'Sita'}

In [29]:
a.difference(b)

{'Ram'}

In [30]:
b.difference(a)

{'Sita'}

In [31]:
a={1,2,3}
b={4,5,6}
a.isdisjoint(b)

True

In [32]:
a={1,2,3}
b={4,5,6}
a.intersection(b)

set()

In [33]:
a={1,2,3,4,5,6,7}
b={1,2,3}
b.issubset(a)

True

In [35]:
a={1,2,3,4,5,6,7}
b={1,2,3}
a.issuperset(b)

True

In [36]:
a={"Ram","Shyam","Hari","Gita"}
b={"Sita","Gita","Shyam","Hari"}
u={'Gita', 'Hari', 'Ram', 'Shyam', 'Sita','Nita','Manit'}
union=a.union(b)
print(union)
print(u.difference(union))

{'Shyam', 'Sita', 'Gita', 'Ram', 'Hari'}
{'Manit', 'Nita'}